/* ============================================================
Imports/Vars/Mixins
============================================================ */

@import "bootstrap-sass/lib/bootstrap";

/* ============================================================
General Styles
============================================================ */

html,
body {
  margin: 0;
  padding: 0;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}

.call-to-action {
    overflow:hidden;
    clear:both;
}

/* ============================================================
Login Styles
============================================================ */

.login-view {
    h1 {
        font-size: 55px;
        text-align: center;
        font-weight: lighter;
    }

    #login-form {
        margin-top: 30px;

        input {
            width: 100%;
        }
    }
}

/* ============================================================
Home Styles
============================================================ */
