/* ============================================================
Helpers
============================================================ */

@import "../bower_components/bootstrap-sass/lib/bootstrap";

/* ============================================================
General Styles
============================================================ */

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    transition: transform 0.3s ease;
}

.view {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.open ~ .header,
.open ~ .container {
    transform: translate3d(80%,0,0);
}

.header + .container .view {
    margin-top: 45px;
}

.form-control,
.btn {
    border-radius: 0;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background: rgba(22,51,77,0.9);

    &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -15px;
        color: #fff;
        font-size: 30px;
        transform-origin: 50% 60%;
        animation: spin 1.5s linear infinite;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.modal-dialog {
    padding: 0;

    .modal-header {
        border: none;
        padding: 10px;
    }

    .modal-content {
        border-radius: 0;
        box-shadow: none;
        color: #fff;
        background: rgba(92,184,92,0.95);
    }

    h4 {
        font-size: 28px;
        font-weight: lighter;
        margin: 0;
    }

    p {
        display: none;
    }
}

/* ============================================================
Header Styles
============================================================ */

.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    color: #fff;
    background: #337AB7;
    transition: transform 0.3s ease;

    .nav-icon {
        position: absolute;
        top: 10px;
        left: 23px;
        font-size: 16px;
        color: #fff;
        text-decoration: none;

        &:hover {
            color: default;
        }
    }

    .glyphicon-home {
        color: #fff;
        position: absolute;
        top: 15px;
        left: 23px;
        text-decoration: none;
    }

    .glyphicon-heart {
        position: absolute;
        top: 15px;
        right: 23px;
        color: #fff;
        text-decoration: none;

        &:hover,
        &.active {
            color: #E57263;
        }
    }

    .btn-group {
        display: block;
        width: 55%;
        margin: 0 auto;

        .btn {
            padding: 0;
            width: 50%;
            height: 45px;
            border: none;
            color: #fff;
            line-height: 3;
            background: inherit;

            &:first-child {
                border-left: 1px solid rgba(255,255,255,0.1);
                border-right: 1px solid rgba(255,255,255,0.1);
            }

            &:last-child {
                border-right: 1px solid rgba(255,255,255,0.1);
            }

            .glyphicon {
                display: inline-block;
                margin-right: 5px;
            }
        }
    }

    .glyphicon-search {
        position: absolute;
        top: 15px;
        right: 23px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
}

/* ============================================================
Navigation Styles
============================================================ */

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: #16334d;
    transform: translate3d(-100%,0,0);
    transition: transform 0.3s ease;

    &.open {
        transform: translate3d(0,0,0);
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin-bottom: 1px;
    }

    a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 15px;
        background: #214d75;
        cursor: pointer;

        &:active {
            background: #255682;
        }
    }

    .glyphicon {
        display: inline-block;
        margin-right: 10px;
    }
}

.call-to-action {
    overflow:hidden;
    clear:both;
}

/* ============================================================
Login Styles
============================================================ */

.login-view {
    h1 {
        color: #428BCA;
        font-size: 50px;
        text-align: center;
        font-weight: lighter;
        margin: 0 0 25px;

        strong {
            display: inline-block;
            margin-right: 3px;
            font-size: 8px;
            color: #5BC0DE;
        }
    }

    #login-form {
        margin-top: 30px;

        input {
            width: 100%;
            -webkit-appearance: none;
        }
    }

    p {
        margin-top: 20px;
        text-align: center;
    }
}

/* ============================================================
Home Styles
============================================================ */

.home-view {
    padding: 0;
    background: #337AB7;

    .well {
        border-radius: 0;
        margin: 0;
        color: #fff;
        border: none;
        background: #16334D;

        h2 {
            margin: 0 0 10px;
            font-size: 26px;
            font-weight: lighter;
            text-align: center;
        }

        p {
            margin: 0;
            text-align: center;
        }
    }

    .list-group {
        margin: 0;
        border: none;

        &:nth-child(even) a.active {
            background: #6aa3d5;
        }

        a.active {
            background: #5d9bd1;
            border-radius: 0;
            border: none;
            height: 62px;

            &:active {
                background: #438bc9;
            }

            h4,
            p {
                margin-left: 58px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .glyphicon {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                font-size: 22px;
                padding: 20px;
                background: #2C689C;
            }

            .glyphicon-tree-conifer {
                background: #5CB85C;
            }

            .glyphicon-wrench {
                background: #e9cb5f;
            }

            .glyphicon-question-sign {
                background: #e57263;
            }

            .glyphicon-adjust {
                background: #7d4b82;
            }

            .glyphicon-print {
                background: #40bcbd;
            }

            .glyphicon-cutlery {
                background: #d66d92;
            }
        }
    }

    #search {
        margin: 0;

        &.visible {
            display: block;
        }

        input {
            border: none;
            outline: none;
            box-shadow: none;
            padding: 25px 15px;
        }
    }
}

/* ============================================================
Product Detail Styles
============================================================ */

.product-detail-view {
    .mapping {
        height: 300px;
        position: relative;
    }

    #mapping-container {
        display: block;
        height: 258px;
        padding: 0;
        width: 100%;
    }

    header {
        position: relative;
        overflow: hidden;
        height: 280px;

        &:before {
            content: "";
            display: block;
            position: absolute;
            z-index: 1000;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.35;
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(22,51,77,1) 85%);
        }
    }

    h2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 10px 15px;
        font-weight: lighter;
        color: #fff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        background: rgba(22,51,77,0.7);
    }

    img {
        max-width: 100%;
        min-height: 210px;
    }

    .panel {
        border-radius: 0;

        .panel-heading {
            border-radius: 0;
        }
    }

    .panel-default {
        margin-top: 20px;
    }

    .call-to-action .btn {
        width: 50%;
    }
}

.mapped-products,
.mapping-directions-container {
    height: 100%;
    width: 100%;
}

/* ============================================================
Lender Response Styles
============================================================ */

.lender-response-view {
    @extend .product-detail-view;
}

/* ============================================================
Send Payment Styles
============================================================ */

.send-payment-view {
    input {
        width: 100%;
    }

    .list-group a {
        border-radius: 0;
    }

    .green {
        background: #5CB85C;
        border: 1px solid #468847;
    }
}

/* ============================================================
Contact Styles
============================================================ */

.contact-user-view {
    h3 {
        font-weight: lighter;
        color: #428BCA;
    }
}