/* ============================================================
Helpers
============================================================ */

@import "../bower_components/bootstrap-sass/lib/bootstrap";

/* ============================================================
General Styles
============================================================ */

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    transition: transform 0.3s ease;
}

.view {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.open ~ .header,
.open ~ .container {
    transform: translate3d(80%,0,0);
}

.header + .container .view {
    margin-top: 45px;
}

.form-control,
.btn {
    border-radius: 0;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background: rgba(22,51,77,0.9);

    &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -15px;
        color: #fff;
        font-size: 30px;
        transform-origin: 50% 60%;
        animation: spin 1.5s linear infinite;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ============================================================
Header Styles
============================================================ */

.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    color: #fff;
    border-bottom: 3px solid #428bca;
    background: #337AB7;
    transition: transform 0.3s ease;

    .nav-icon {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 16px;
        color: #fff;
        text-decoration: none;

        &:hover {
            color: default;
        }
    }

    .btn-group {
        display: block;
        width: 55%;
        margin: 0 auto;

        .btn {
            padding: 0;
            width: 49%;
            height: 41px;
            border: none;
            color: #fff;
            line-height: 3;
            background: #2c689c;

            &:first-child {
                margin-right: 2px;
            }

            &:active {
                background: #3071aa;
            }

            .glyphicon {
                display: inline-block;
                margin-right: 5px;
            }
        }
    }

    .glyphicon-search {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fff;
        text-decoration: none;
    }
}

/* ============================================================
Navigation Styles
============================================================ */

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: #16334d;
    transform: translate3d(-100%,0,0);
    transition: transform 0.3s ease;

    &.open {
        transform: translate3d(0,0,0);
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin-bottom: 1px;
    }

    a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 15px;
        background: #214d75 ;

        &:active {
            background: #255682;
        }
    }

    .glyphicon {
        display: inline-block;
        margin-right: 10px;
    }
}

.call-to-action {
    overflow:hidden;
    clear:both;
}

/* ============================================================
Login Styles
============================================================ */

.login-view {
    h1 {
        color: #428BCA;
        font-size: 50px;
        text-align: center;
        font-weight: lighter;
        margin: 0 0 25px;

        strong {
            display: inline-block;
            margin-right: 3px;
            font-size: 8px;
            color: #5BC0DE;
        }
    }

    #login-form {
        margin-top: 30px;

        input {
            width: 100%;
            -webkit-appearance: none;
        }
    }

    p {
        margin-top: 20px;
        text-align: center;
    }
}

/* ============================================================
Home Styles
============================================================ */

.home-view {
    padding: 0;

    .list-group {
        margin: 0;
        border: none;

        &:nth-child(even) a.active {
            background: #5093cd;

            &:hover {
                background: #5093cd;
            }
        }

        a.active {
            background: #5d9bd1;
            border-radius: 0;
            border: none;
            height: 62px;

            &:hover {
                background: #5d9bd1;
            }

            &:active {
                background: #428BCA;
            }

            h4,
            p {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}

/* ============================================================
Mapping Styles
============================================================ */

.product-detail-view {
    .mapping {
        height: 300px;
        position: relative;
    }

    #mapping-container {
        display: block;
        height: 258px;
        padding: 0;
        width: 100%;
    }

    header {
        position: relative;
        overflow: hidden;
        max-height: 280px;
    }

    h2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 10px 15px;
        font-weight: lighter;
        color: #fff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        background: rgba(22,51,77,0.7);
    }

    img {
        max-width: 100%;
    }

    .panel-default {
        margin-top: 20px;
    }

    .call-to-action .btn {
        width: 50%;
    }
}

.mapped-products,
.mapping-directions-container {
    height: 100%;
    width: 100%;
}
