<div class="home-view">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Lawnmower</h4>
        <p class="list-group-item-text">Brand new, good condition.</p>
      </a>
    </div>

    <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Girlfriend for a day</h4>
        <p class="list-group-item-text">Borrow my girlfriend for one day.</p>
      </a>
    </div>

    <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Xbox 360</h4>
        <p class="list-group-item-text">360 slim, 2 controllers.</p>
      </a>
    </div>
</div>
