<div class="lender-response-view view">
    <header>
      <h2 class="ng-binding">Petrol Lawn Mower</h2>
      <img src="images/products/lawn1.jpg" alt="Petrol Lawn Mower">
    </header>
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Decision time...</strong></div>
      <div class="panel-body">
        <p>Would you like to lend the above for the sum of:</p>
      </div>
    </div>
    
    <h3>£10</h3>
    <p>Payable to yourself?</p>
    <!-- <p>Payable to the charity British Heart Foundation?</p> -->
    <div class="">
        <p>
            <a ng-click="sendTxt('accept')" class="btn btn-primary btn-lg btn-block">Accept</a>
        </p>
        <p>
            <a ng-click="sendTxt('reject')" class="btn btn-primary btn-lg btn-block">Reject</a>
        </p>
    </div>
</div>



