<div class="login-view">
  <h1>Neighbour<strong class="glyphicon glyphicon-home"></strong>ly</h1>

  <form id="login-form" role="form">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>

    <button type="button" class="btn btn-primary btn-lg btn-block">Sign in</button>
  </form>
</div>