<div class="login-view view">
  <h1>Neighbour<strong class="glyphicon glyphicon-home"></strong>ly</h1>

  <form id="loginform" name="loginform" role="form">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" data-ng-model="user.email" ng-required="true" required placeholder="Email">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" data-ng-model="user.password" name="password" required id="password" placeholder="Password">
    </div>

    <button type="button" data-ng-click="login(user.email, user.password)" data-ng-disabled="loginform.$invalid" class="btn btn-primary btn-lg btn-block">Sign in</button>

    <p>
  </form>
</div>