<div class="product-detail">
    <h2>{{product.title}}</h2>
    <img src="{{product.images[0].path}}" alt="{{product.title}}" width="320" />
    <div class="call-to-action">
      <a ng-href="#/confirmDetails/{{product.id}}" class="btn pull-left btn-success btn-primary btn-lg">Book Item</a>
      <a ng-href="#/contactUser/{{product.user.id}}/product/{{product.id}}"class="btn pull-right btn-info btn-lg">Contact Neighbour</a>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Description</strong></div>
      <div class="panel-body">
        {{product.description}}
      </div>
    </div>
    <div class="panel panel-default mapping">
      <div class="panel-heading"><strong>Location</strong></div>
      <div class="panel-body" id="mapping-container">
        Panel content
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Neighbour</strong></div>
      <div class="panel-body">
        {{product.user.name}}
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block">Share</button>
</div>