<div class="product-detail-view view">
    <header>
      <h2>{{product.title}}</h2>
      <img src="{{product.images[0].path}}" alt="{{product.title}}" />
    </header>

    <div class="call-to-action">
      <a ng-href="#/makeOffer/{{product.id}}" class="btn pull-left btn-success btn-primary btn-lg">Borrow Item</a>
      <a ng-href="#/contactUser/{{product.user.id}}/product/{{product.id}}"class="btn pull-right btn-info btn-lg">Contact</a>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Description</strong></div>
      <div class="panel-body">
        {{product.description}}
      </div>
    </div>
    <div class="panel panel-default mapping">
      <div class="panel-heading"><strong>Location</strong></div>
      <div class="panel-body" id="mapping-container">

      </div>
    </div>
    <a href="#/directions/{{product.id}}" class="btn btn-primary btn-lg btn-block btn-warning">Get directions</a>
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Owner</strong></div>
      <div class="panel-body">
        {{product.user.name}}
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block">Share</button>
</div>